{% extends "base.html" %}
{% block title %}About{% endblock %}


{% block content %}
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">About Us</h1>
        <p class="lead">Keep a diary of gluten reactions, and share with others.</p>
    </div>

<div class=" my-3 p-3 bg-white rounded box-shadow">
    <p class="lead">
        Gluten Diary was created in 2018 as a way to track reactions to consumed food, particularly food containing gluten.
        Our product engages those with gluten sensitivity and Celiacs disease in order to alleviate the worries and side effects of accidental gluten consumption.
</p>
<p>
        We are <a href="https://github.com/gyazbek/Gluten-Diary">open source</a>.  
    </p>
  </div>
{% endblock %}
