{% extends "base.html" %}
{% block title %}Page not found{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="text-center col-md-6">
        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Page not found!</h1>
            <p class="lead">Boooo, the page you were looking for isn't here.</p>
        </div>
        <a href="/" class="btn btn-lg btn-block btn-outline-primary">Go Home</a>
    </div>
</div>
</div>
{% endblock content %}
