{% extends "base.html" %}
{% load comments %}
{% load thumbnail %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% load humanize %}
{% block content %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{{food.title}}</h1>
</div>

<div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="text-muted pt-3 row">
                <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
                <div class="col pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div>
                        {% if food.brands %}
                        <span class="lead">{{ food.brands.all|join:", " }}</span>
                        {% endif %}
                        {% if food.types %}
                        <p class="">{{ food.types.all|join:", " }}</p>
                        {% endif %}
                        </div>
                        <span class="d-block">Posted by <a href="{% url 'users:detail' food.author.username %}">{{food.author.user_avail_name}}</a></span>
                        <span class="d-block">Posted on {{food.created_on | date}}</span>
                </div>
                <div class="col"><p class="lead text-md-right text-lg-right text-sm-left">{% if food.author == request.user %}<a class="float-right" href="{% url 'food:update' food.id %}">Edit</a><br/>{% endif %}{{food.notes}}</p></div>
        </div>
</div>
<div class="comments">
        {% get_comment_count for food as comment_count %}
        <h6 class="border-bottom border-gray pb-2 mb-0">{{comment_count}} {% if comment_count == 1 %}Comment{% else %}Comments{%endif%}  </h6>
        {% get_comment_list for food as comment_list %}
        {% for comment in comment_list %}
        <div class="comment-wrap">
                <div class="photo">
                        

                        
                {% if comment.user.avatar %}

                {% thumbnail comment.user.avatar "160x160" crop="center" as im %}
                <img alt="User Pic" class="rounded img-thumbnail avatar" src="{{ im.url }}">
                {% endthumbnail %}
                {% else %}
                <img alt="User Pic" src="{% static 'images/placeholder_avatar.png' %}" class="rounded img-responsive avatar"> 
                {% endif %}
                {{comment.user.user_avail_name}}
                </div>
                <div class="comment-block">
                        <p class="comment-text">{{comment.comment}}</p>
                        <div class="bottom-comment">
                                <div class="comment-date">{{comment.submit_date | naturaltime}}</div>
                                <ul class="comment-actions">
                                        <li class="complain"><a href="{% url 'comments-flag' comment.id %}">Report</a></li>
                                </ul>
                        </div>
                </div>
        </div>
        {% endfor %}
        {% if user.is_authenticated %}
        <div class="leave-comment-container">
                {% get_comment_form for food as form %}
                <form action="{% comment_form_target %}" method="POST">
                        {% csrf_token %}
                        {{ form.comment | as_crispy_field  }}
                        {{ form.honeypot | as_crispy_field  }}
                        {{ form.content_type | as_crispy_field  }}
                        {{ form.object_pk | as_crispy_field  }}
                        {{ form.timestamp | as_crispy_field  }}
                        {{ form.security_hash | as_crispy_field }}
                        <input type="hidden" name="next" value="{% url 'food:detail' object.id %}" />
                        <div class="clearfix">
                                <input class="float-right btn-success btn" type="submit" value="Add comment" id="id_submit" />
                        </div>
                </form>
        </div>
        {% else %}
        <p>Please <a href="{% url 'account_login' %}">log in</a> to leave a comment.</p>
        {% endif %}
</div>




{% endblock %}

