{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Gluten Diary</h1>
    <p class="lead">Keep a diary of gluten reactions, and share with others.</p>
</div>
<div class="clearfix">
    <form>
    <div class="float-left dropdown-filters">
        {{ form.q }}
    </div>
    <div class="float-right dropdown-filters">
        {{ form.order }}
        {{ form.type }}
        {{ form.brand }}
    </div>
    </form>
</div>
<div class=" my-3 p-3 bg-white rounded box-shadow">
    {% if food_list %}
    <!-- <h6 class="border-bottom border-gray pb-2 mb-0">Latest</h6> -->
    {% for food in food_list %}
    <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark"><a class="title-link" href="{% url 'food:detail' food.id %}">{{food.title}}</a></strong>
                <a href="{% url 'food:detail' food.id %}">View</a>
            </div>
            <span class="d-block"><a href="{% url 'users:detail' food.author.username %}">@{{food.author.user_avail_name}}</a></span>
        </div>
    </div>
    {% endfor %}
    {% if page_obj.has_other_pages %}
    <small class="d-block  mt-3">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active"><span  class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        </nav>
    </small>
    {% endif %}
    {% else %}
    <p class="text-center text-muted lead">Sorry, there's nothing here.</p>
    {% endif %}
</div>
{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/food/index.js' %}"></script>
{% endblock %}
